.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #282D35;
  width: 100%;
  height: 100vh;
  background-image: url(../../images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.main-content {
  margin-top: 10px;
}

.main-title {
  font-family: 'Inter', sans-serif;
  text-align: left;
  font-size: 40px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}


.main-items {
  font-family: 'Inter', sans-serif;
  line-height: 20px;
  color: #FFFFFF;
  padding-block: 10px;
  text-align: left;

}

.main-items::marker {
  text-align: center;
  font-size: 1.5rem;
  color: #61DAFB;
}