.main {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #282d35;
  background-image: url(../../images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 10%;
}

.main-content {
  padding: 40px;
}

.main-title {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: clamp(1.5rem, 2vw + 2.5rem, 5rem);
  text-transform: capitalize;
}

.main-items {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  margin-left: 35px;
  font-size: clamp(1rem, 2vw + 1.2rem, 1.2rem);
  letter-spacing: 1px;
  padding: 5px;
}

.main-items::marker {
  color: #61dafb;
  font-size: clamp(1rem, 2vw + 2rem, 2.25rem);
}
