.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #21222A;

}

.left-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-icon {
  width: 30px;
}

.nav-logo-text {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  letter-spacing: -0.8px;
  color: #61DAFB;

}

.nav-title {
  color: #DEEBF8;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}