.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #21222a;
  padding: 40px;
  border-bottom: 1px dashed #318ca4;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-icon {
  width: 30px;
}

.nav-logo-text {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  letter-spacing: -0.8px;
  color: #61dafb;
}

.nav-title {
  color: #deebf8;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}
